<phpunit
	bootstrap="phpunit_bootstrap.php"
	colors="true"
	printerClass="Verysimple\UnitTest\VerboseTestResultPrinter"
	printerFile="vendor/autoload.php"
	stopOnError="false"
	stopOnFailure="false"
	stopOnIncomplete="false"
	stopOnSkipped="false">

	<testsuite name="Default Tests">
		<directory>tests/</directory>
	</testsuite>

</phpunit>
